<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LEERLING</title>
        <link rel="stylesheet" href="styles.css">
        <!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven Pro Black">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.js"></script>
        
        <script src="app.js"></script>
        <script>
            
            app.controller("OefeningActiveController",function($scope, ActiveOefeningService,$interval){
                
                var init = function(){
                    
                     $interval(function () {
                            $scope.oefening = ActiveOefeningService.query();
                        
                        },5000);
                
                }
                    init();
            });
            
            app.controller("OplossingController", function($scope, OplossingService, KindService){
                
                
                console.log("oplossingController actief");
                
                $scope.SendOplossing = function(Id, KindId, OefeningId){
                    
                    
                    console.log("SendOplossing actief - input = " + Id);
                    console.log("dit is het kind: " + $scope.kind[0]);
                    console.log($scope.kind);
                    console.log($scope.kind[0].Naam + $scope.kind[0].Id);
                    var ki = $scope.kind[0].Id;
                    console.log("dit is de id: " + ki);
                    console.log("dit is $scope.oefening " + $scope.oefening[0].Vraag)
                    
                    $scope.oplossing = OplossingService.query({Id:Id, KindId:$scope.kind[0].Id, OefeningId:$scope.oefening[0].Id});
                }
                
            })
            
            app.controller("KindController", function($scope, KindService){
                
                $scope.kids = KindService.query();
                console.log($scope.kids);
                
                $scope.SetKidActive = function(Id){
                    console.log("SetKidActive actief - input = " + Id);
                    $scope.kind = KindService.query({Id:Id});
                    console.log($scope.kind);
                }
                
                $scope.GetKids = function() {
                    $scope.kids = KindService.query();
                    console.log(kids);
                }
            });
           
        </script>
    </head>
    <body ng-app="app">
        <div ng-controller="OefeningActiveController">
            <div ng-controller="KindController">
                <button ng-repeat="k in kids" ng-click="SetKidActive(k.Id)" style="color: {{k.Color}}">{{k.Naam}}</button>
                <br/>
                <table style= "width: 100%">
                    <tr>
                        <td>
                            <p style="color: {{kind[0].Color}}">{{kind[0].Naam}}</p>
                        </td>
                        <td>
                            <div>
                                <p>Oefening: {{oefening[0].Vraag}}</p>
                            </div>
                        </td>
                    </tr>
                </table>
            
            
                <div ng-controller="OplossingController">
                    <button type="button" ng-click="SendOplossing(1)">1</button>
                    <button type="button" ng-click="SendOplossing(2)">2</button>
                    <button type="button" ng-click="SendOplossing(3)">3</button>
                    <button type="button" ng-click="SendOplossing(4)">4</button>
                    <button type="button" ng-click="SendOplossing(5)">5</button>
                    <button type="button" ng-click="SendOplossing(6)">6</button>
                    <button type="button" ng-click="SendOplossing(7)">7</button>
                    <button type="button" ng-click="SendOplossing(8)">8</button>
                    <button type="button" ng-click="SendOplossing(9)">9</button>
                    <button type="button" ng-click="SendOplossing(10)">10</button>
                </div>
            </div>
        </div>
        
        <!--<script src="js/bootstrap.min.js"></script>-->
    </body>
</html>