<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LEERLING</title>
        <link rel="stylesheet" href="styles.css">
        <!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven Pro Black">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.js"></script>
        
        <script src="app.js"></script>
        <script>
            
            app.controller("OefeningActiveController",function($scope, ActiveOefeningService,$interval){
                
                var init = function(){
                    
                     $interval(function () {
                            $scope.data = ActiveOefeningService.query();
                        
                        },5000);
                
                }
                    init();
            });
            
            app.controller("OplossingController", function($scope, OplossingService){
                
                console.log("oplossingController actief");
                
                $scope.SendOplossing = function(Id,KindId){
                    console.log("SendOplossing actief - input = " + Id);
                    console.log("dit is het kind: " + $scope.kind[0]);
                    console.log($scope.kind);
                    console.log($scope.kind[0].Naam + $scope.kind[0].Id);
                    var ki = $scope.kind;
                    console.log("dit is de id: " + ki);
                    $scope.oplossing = OplossingService.query({Id:Id, KindId:$scope.kind[0].Id});
                }
                
            })
            
            app.controller("KindController", function($scope, KindService){
                $scope.SetKidActive = function(Id){
                    console.log("SetKidActive actief - input = " + Id);
                    $scope.kind = KindService.query({Id:Id});
                    console.log($scope.kind);
                }
            });
           
        </script>
    </head>
    <body ng-app="app">
        <div ng-controller="KindController">
            <button type="button" ng-click="SetKidActive(1)">Marie</button>
            <button type="button" ng-click="SetKidActive(2)">Jonas</button>
            <button type="button" ng-click="SetKidActive(3)">Stan</button>
            <button type="button" ng-click="SetKidActive(4)">Emma</button> 
            <button type="button" ng-click="SetKidActive(5)">Ward</button><br/>
            Hoi {{kind[0].Naam}} - {{kind[0].Color}}
        
            <div ng-controller="OefeningActiveController">
                {{data[0].Vraag}}<br/>
            </div>
            <div ng-controller="OplossingController">
                <button type="button" ng-click="SendOplossing(1,2)">1</button>
                <button type="button" ng-click="SendOplossing(2)">2</button>
                <button type="button" ng-click="SendOplossing(3)">3</button>
                <button type="button" ng-click="SendOplossing(4)">4</button>
                <button type="button" ng-click="SendOplossing(5)">5</button>
                <button type="button" ng-click="SendOplossing(6)">6</button>
                <button type="button" ng-click="SendOplossing(7)">7</button>
                <button type="button" ng-click="SendOplossing(8)">8</button>
                <button type="button" ng-click="SendOplossing(9)">9</button>
                <button type="button" ng-click="SendOplossing(10)">10</button>
            </div>
        </div>
        <!--<script src="js/bootstrap.min.js"></script>-->
    </body>
</html>