body{
    font-family: 'Maven Pro Black';
    font-size: 27px;
    color: indianred;
    
    margin: auto;
    width: 70%;
    padding: 10px;
}

button{
    font-family: 'Maven Pro Black';
    font-size: 24px;
    color:cornflowerblue;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}